.btn {
	display: block;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	width: 170px;
	height: 50px;
	background-color: #5b6ceb;
	box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.15);
}