body {
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 18px;
	line-height: 30px;
	margin: 0 auto;
	padding: 0;
	color: #000;
}
.title-h2 {
	font-size: 24px;
	line-height: 30px;
	color: #231f20;
}
@media #{$tablet} {
	.title-h2 {
		font-size: 40px;
		line-height: 50px;
		color: #000;
	}	
}
@media #{$desktop} {
	body {
		width: 1150px;
		margin: 0 auto;
	}
}