.about {
	width: 1200px;
	margin: 0 auto;
	padding: 150px 0 125px;
}
.about-info {
	float: left;
	width: 470px;
	margin-left: 15px;
	margin-right: 120px;
}
.about-info__title {
	font-size: 30px;
	font-weight: bold;
	color: #5b6ceb;
	text-transform: uppercase;
}
.about-info__text {
	font-size: 14px;
	line-height: 22px;
	color: #555;
}