.footer-top {
	height: 450px;
	background-color: #5b6ceb;
}
.footer-bottom {
	height: 100px;
	background-color: #5363d8;
}
.footer-bottom__text {
	color: #b7bffc;
	line-height: 100px;
	margin: 0 auto;
	text-align: center;
}