.page-header {
 	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	width: 1200px;
	margin: 0 auto;
}
.header-logo__text {
	display: block;
	font-size: 24px;
	text-transform: uppercase;
	color: #5363db;
	padding-top: 65px;
}
.header-logo__text:before {
	content: '';
	position: absolute;
	background: url("../img/logo.png") no-repeat center center;
	width: 67px;
	height: 42px;
	top: 20px;
	left: 50%;
	margin-left: -5px;
}