.page-header-container {
	margin: 0 30px;
}
.logo {
	position: relative;
	border-bottom: 1px solid #ececec;
}
.logo a {
	padding-top: 22px;
	margin: 0 auto 22px auto;
}
.logo__link {
	display: block;
	width: 86px;
	height: 35px;
}
@media #{$tablet} {
	.page-header-container {
		margin: 0 50px;
	}
	.logo__link {
		float: left;
		width: 113px;
		height: 46px;
		padding-right: 210px;
	}
}
@media #{$desktop} {
	.logo__link {
		width: 149px;
		height: 72px;
	}
}