.reservation {
	background: url(../img/about_bg.jpg) no-repeat center center;
	height: 600px;
	border-top: 1px solid white;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.reservation__text__info {
	padding-top: 165px;
}
.reservation__title {
	font-size: 48px;
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	margin-bottom: 10px;
}
.reservation__text {
	font-family: 'FreestyleScript';
	font-size: 40px;
	color: #fff;
}