.shop {
	background: url(../img/price_bg.png) no-repeat right bottom;
	min-height: 1150px;
}
.shop-block {
	display: inline-block;
	width: 370px;
	height: 493px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 6.4px 6.4px 50px rgba(0, 0, 0, 0.1);
	margin-right: 35px;
	margin-top: 100px;
}
.shop-block:last-child {
	margin-right: 0;
}
.shop-block__top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 150px;
	background: #5b6ceb;
	border-radius: 10px 10px 0 0;
}
.shop__price {
	margin: auto;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
}

.shop__price-cost {
	font-size: 68px;
	font-weight: bold;
}
.shop__price-term {
	font-size: 18px;
	text-transform: uppercase;
}